.counter-container {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}

.counter-display {
  font-size: 10em;
  margin-top: 0;
  margin-bottom: 50px;
}

.counter-button {
  width: 150px;
  height: 50px;
  font-size: 1.5em;
  font-weight: bold;
  margin: 0 5px;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.reset-btn{
  background-color: hsl(200, 100%, 50%);
}
.increment-btn{
  background-color: hsl(120, 100%, 50%);
}
.decrement-btn{
  background-color: hsl(0, 100%, 50%);
}

/* hover */
.reset-btn:hover {
  background-color: hsl(200, 100%, 45%);
}

.increment-btn:hover{
  background-color: hsl(120, 100%, 45%);
}
.decrement-btn:hover{
  background-color: hsl(0, 100%, 45%);
}
